@model FileCanBlog.ViewModels.PageViewModel


<div>
    @Html.LabelFor(x=> x.page.Title) @Html.DisplayFor(x=> x.page.Title)
    <br />
    @Html.LabelFor(x=> x.page.Description) @Html.DisplayFor(x=> x.page.Description)
    <br />
    @Html.LabelFor(x=> x.page.Content) @Html.DisplayFor(x=> x.page.Content)
    <br />
    @Html.LabelFor(x=> x.page.Image) @Html.DisplayFor(x=> x.page.Image)
</div>



