@model FileCanDB.Blog.Areas.Admin.ViewModels.AdminPostViewModel


<div>
    @Html.LabelFor(x => x.Post.Title) @Html.DisplayFor(x => x.Post.Title)
    <br />
    @Html.LabelFor(x => x.Post.Description) @Html.DisplayFor(x => x.Post.Description)
    <br />
    @Html.LabelFor(x => x.Post.Content) @Html.DisplayFor(x => x.Post.Content)
    <br />
    @Html.LabelFor(x => x.Post.ImageUrl) @Html.DisplayFor(x => x.Post.ImageUrl)
    <br />
    @Html.LabelFor(x => x.Post.Categories) @Html.DisplayFor(x => x.Post.Categories)
</div>
