@model FileCanBlog.ViewModels.SectionViewModel


@using(Html.BeginForm())
{
    <div>
        @Html.LabelFor(x=> x.section.Title) @Html.EditorFor(x=> x.section.Title)
        <br />
        @Html.LabelFor(x=> x.section.Description) @Html.EditorFor(x=> x.section.Description)
        <br />
        @Html.LabelFor(x=> x.section.Created) @Html.EditorFor(x=> x.section.Created)
    </div>
    <input type="submit" name="Command" value="Save" />
}




