@model FileCanBlog.Areas.Admin.ViewModels.AdminPostViewModel

@using (Html.BeginForm("Create", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div>
    @Html.LabelFor(x=> x.Post.Title) @Html.EditorFor(x=> x.Post.Title)
    <br />
    @Html.LabelFor(x=> x.Post.Description) @Html.EditorFor(x=> x.Post.Description)
    <br />
    @Html.LabelFor(x=> x.Post.Content) @Html.EditorFor(x=> x.Post.Content)
    <br />
    @Html.LabelFor(x=> x.Image) <input type="file" name="@Html.NameFor(m => m.Image)" id="@Html.IdFor(m => m.Image)" />
    <br />
    @Html.LabelFor(x => x.Post.PublishDate) @Html.EditorFor(x => x.Post.PublishDate)

    <br />
    @Html.LabelFor(x => x.Post.Categories) @Html.EditorFor(x => x.Post.Categories)
</div>
<input type="submit" name="Command" value="Save" />
<input type="submit" name="Command" value="View" />
}





